@using System.Security.Claims
@model IEnumerable<Sportify_back.Models.Payments>

@{
    ViewData["Title"] = "Index";
    string profile = User.FindFirstValue("Profile"); // Obtén el perfil del usuario
    bool isAdmin = profile == "Administrador"; // Verifica si es Administrador
}

<h1 class="text-center mb-4">Listado de Pagos</h1>


<p>
    <a asp-action="Create" class="btn btn-outline-light">Crear nuevo Pago</a>
</p>

<table class="table-custom">
    <thead>
        <tr>
            @if (isAdmin)
            {
                <th>Alumno</th> <!-- Solo visible para Administradores -->
            }
            <th>Plan</th>
            <th>Método de Pago</th>
            <th>Monto</th>
            <th>Fecha de Pago</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (isAdmin)
            {
            <td>@Html.DisplayFor(modelItem => item.ApplicationUser.Name)</td>
            }
            <td>@Html.DisplayFor(modelItem => item.Plans.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.PaymentMethod.Tipo)</td>
            <td>@Html.DisplayFor(modelItem => item.Plans.Monto)</td>
            <td>@item.Fecha</td>
            <td>
                <div class="action-buttons">
                    <a asp-action="Details" asp-route-id="@item.Id" class="action-link details-link">
                        <img src="~/images/search.png" class="small-icon" alt="Icono de detalle">
                    </a>
                    <a asp-action="DownloadReceipt" asp-route-id="@item.Id" class="btn btn-primary rounded-pill me-2">
                        Descargar Comprobante
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
