@model Sportify_back.Models.Teachers

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mb-4">Detalles del Profesor</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <dl class="row">
        <dt class = "col-sm-4 card-text">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8 card-text">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4 card-text">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-8 card-text">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-4 card-text">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-8 card-text">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-4 card-text">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-8 card-text">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-4 card-text">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-8 card-text">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-4 card-text">
            @Html.DisplayNameFor(model => model.Activities)
        </dt>
        <dd class = "col-sm-8 card-text">
            @Html.DisplayFor(model => model.Activities.NameActivity)
        </dd>
        <dt class = "col-sm-4 card-text">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-8 card-text">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
</div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary rounded-pill me-2">
        Editar
    </a>
    <a asp-action="Index" class="btn btn-outline-light btn-bold rounded-pill">
    Volver al listado
    </a>
</div>
